@font-face {
  font-family: "ITC Avant Garde LT";
  src: url("/fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Tex Gyre Adventor";
  src: url("/fonts/texgyreadventor-regular.otf") format("opentype");
  font-weight: 400;
}

body {
  font-family: ITC Avant Garde LT;
  font-size: 16px;
}

.pageTop {
  background-image: url("/resources/splash-feature.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.navigationMenu {
  display: flex;
  margin: 0 auto;
  max-width: 43.6%;
  font-weight: 700;
  background-color: transparent;
  justify-content: space-evenly;
  padding: 3.4rem 0 0 0;
}

.navigationMenu li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.navigationMenu li a:hover {
  border: solid 1px white;
}
