@font-face {
  font-family: "ITC Avant Garde LT";
  src: url("/fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Tex Gyre Adventor";
  src: url("/fonts/texgyreadventor-regular.otf") format("opentype");
  font-weight: 400;
}

body {
  font-family: ITC Avant Garde LT;
  font-size: 16px;
}

.pageTop {
  background-image: url("/resources/splash-feature.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.navigationMenu {
  display: flex;
  margin: 0 auto;
  max-width: 43.6%;
  font-weight: 700;
  background-color: transparent;
  justify-content: space-evenly;
  padding: 3.4rem 0 0 0;
}

.navigationMenu li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.navigationMenu li a:hover {
  border: solid 1px white;
}

.socialMenu {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  max-width: 11.6%;
  margin: -22px 0 0 87.5%;
}

.socialMenu li a svg {
  stroke: white;
  stroke-width: 1.5;
}

.socialMenu li a svg:hover {
  stroke: #656565;
}

.parklandsContainer {
  max-width: 522px;
  margin: 12.8% auto 0 auto;
}

.groconLogo {
  margin: 5px auto 0 auto;
  max-width: 105px;
}

.chevronContainer {
  padding: 8rem 0 3.2rem 0;
  max-width: 50px;
  max-height: 50px;
  margin: 0 auto;
}

.chevronContainer svg {
  stroke: white;
  stroke-width: 2;
}

.pageTopLower {
  display: flex;
}

.project {
  background-image: url("resources/background-overview.jpg");
  background-size: cover;
}

.project:hover {
  background-image: url("resources/background-overview-hover.jpg");
  background-position: center center;
}

.news {
  background-image: url("resources/background-news.jpg");
  background-size: cover;
}

.news:hover {
  background-image: url("resources/background-news-hover.jpg");
  background-position: center center;
}

.photoDiv {
  width: 100%;
  color: white;
  text-align: center;
  font-weight: 700;
  padding: 0 0 5.5rem 0;
}

.photoDiv h2 {
  padding: 5.5rem 0 0.7rem 0;
  font-size: 4rem;
  letter-spacing: -3.2px;
}

.photoDiv span {
  font-size: 24px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.play {
  background-image: url("resources/background-video.jpg");
  background-position: center center;
  padding: 0 0 5.1rem 0;
  position: relative;
}

.play h2 {
  transition: all ease 500ms;
  display: none;
}

.play span {
  display: none;
}

.playIcon {
  max-height: 130px;
  text-align: center;
  padding: 4rem 0 0 0;
}

.playIcon svg {
  stroke-width: 0.7;
}

.about {
  font-family: ITC Avant Garde LT;
  text-align: center;
  margin-top: 7.8rem;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -4px;
}

.aboutP {
  font-family: "Open Sans", sans-serif;
  max-width: 941px;
  margin: 0 auto;
  font-size: 18.4px;
  text-align: center;
  padding: 42.5px 0 1rem 0;
  line-height: 29px;
  font-weight: 300;
}

.seeMore {
  margin: 0 auto;
  display: block;
  padding: 34px 0 1rem;
  font-family: ITC Avant Garde LT;
  text-align: center;
  max-width: 109px;
  text-decoration: none;
}

#seeMore {
  font-size: 17px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #4fafa5;
  font-weight: 600;
  padding: 0 0 3px 0;
}

#seeMore:hover {
  border-bottom: 1px solid #4fafa5;
}

.projectA,
.newsA {
  width: calc((100% - 32.9%) / 2);
  text-decoration: none;
}

.playA {
  width: 32.9%;
  text-decoration: none;
}

.slider {
  max-width: 1379px;
  margin: 0 auto;
  padding: 0 0 1rem 0;
}

.slide {
  text-align: center;
  width: 345px !important;
  background: url("/resources/divider-feature.gif") no-repeat right 95px;
}

.lastSlide {
  background: none;
}

.slide:focus {
  outline: 0;
}

.slideData {
  font-size: 3.5rem;
  font-weight: 700;
  padding: 20.7px 0 6px;
  letter-spacing: -2.9px;
}

.slideInfo {
  font-size: 22.5px;
  font-weight: 700;
  color: #4fafa5;
  letter-spacing: -1px;
}

.imageSlide {
  display: flex;
  justify-content: space-around;
  max-height: 97px;
}

.slick-slide {
  height: 58%;
}

.slick-dots li button:before {
  color: #4fafa5;
  opacity: 1 !important;
  font-size: 12px;
}

.slick-active button:before {
  color: black !important;
}

#house {
  margin: 0 0 0 20px;
}

.pageMiddle1 {
  margin: 8.3rem 0 0 0;
}
.gallery {
  background-image: url("/resources/background-gallery.jpg");
  background-size: cover;
}

.galleryHeaders {
  padding: 17.7px 0 19.7rem 15.3rem;
  font-size: 3.8rem;
}

.galleryHeaders h2:nth-child(1) {
  color: #4fafa5;
  padding: 0 0 6px 0;
}

.galleryHeaders h2:nth-child(2) {
  color: white;
  padding: 0 0 48px 0;
}

.galleryHeaders a {
  color: white;
  text-decoration: none;
  display: block;
  max-width: 133px;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 0 0 6px 0;
}

.galleryHeaders a:hover {
  border-bottom: 1px solid white;
}
